<div class="container mt-4">
  <div class="row">
    <div class="col-4">
      <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search" aria-describedby="search-addon" [(ngModel)]="query" />
        <span class="input-group-text border-0" id="search-addon" (click)="ListarNews()">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>
    <div class="col">
      <div class="contenedor-boton">
        <button type="button" class="btn btn-primary " id="buttonIngreso" routerLink="/noticia/editor" >Agregar Noticia</button>
      </div>
    </div>
  </div>
    <table class="table table-striped table-hover table-bordered mt-2">
        <thead>
          <tr class="bg-header text-white">
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Fecha</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of news | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
            <th scope="row">{{i+1}}</th>
            <td> {{item.title}}</td>
            <td>{{item.datePublish}}</td>
            <td><button  class="btn btn-primary"  data-bs-toggle="modal" routerLink="/noticia/editor/{{item.id}}" data-bs-target="#formModalModificar">Editar</button>
             <button style="margin-right: 20px;" (click)="EliminarNews(item.id)"  class="btn btn-secondary">Eliminar</button></td>
          </tr>
        </tbody>
        <tfoot>
          
        </tfoot>
    </table>    
    <pagination-controls (pageChange)="p=$event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>
